body {
    background: #eee;

    .loginBox {
        position: absolute;
        top: 50%;
        margin-top: -300px;
        width: 400px;
        left: 50%;
        margin-left: -200px;

        h1 {
            text-align: center;
            padding-bottom: 20px;
        }

        .box {
            padding: 20px 40px;
        }

        .button {
            width: 100%;
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 400px) {
    body {
        .loginBox {
            width: 100%;
            left: 0;
            margin-left: 0;
        }
    }
}