.link { 
    display: inline-block;      
    padding: 10px 15px;
    color: #fff; 
    text-decoration: none;
    margin: 0 10px;
    margin-top: 5px;
    border-radius: 2px;

    &.active {
        background-color: #eee;
        color: #333;
    }
}
