nav {
    padding: 5px;
    background-color: #333;
    color: #fff;

    .link { 
        display: inline-block;      
        padding: 10px 15px;
        color: #fff; 
        text-decoration: none;
        margin: 0 10px;
        border-radius: 2px;

        &.active {
            background-color: #eee;
            color: #333;
        }
    }
}